{% extends 'base.html.twig' %}

{% block title %}Edit post{% endblock %}

{% block bread %}
    → <a href="{{ path('app_micro_post_show', { post: postId }) }}">Post</a>
    → Edit
{% endblock %}

{% block body %}
    {{ include ('micro_post/_form.html.twig') }}
{% endblock %}
